@{
    ViewData["Title"] = "BarunsonGshop";
    
    Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/register.css">
	<title>BarunsonGshop - 아이디찾기</title>
</head>
<body>
	<div id="wrap">
		<!-- header -->
		<header class="header">
			<div class="area">
				<h1><a href="#">barunsonGshop 로고</a></h1>
			</div>
		</header>
		<!-- //header -->
		<div class="sub_contents">
            <!-- register -->
            <section class="register">
                <div class="register_box">
                    <div class="title_box">
                        <h2>아이디/비밀번호 찾기</h2>
                    </div>
                    <!-- 아이디/비밀번호 찾기 컨텐츠 -->
                    <div class="register_contents">
                        <!-- 안내 텍스트 -->
                        <div class="register_text_wrap">
                            @if (ViewData["Auth_User_ID"].ToString().Equals("F"))
                            {
                                <p class="find_text">
                                   아이디가 조회되지 않습니다 
                                </p>
                                <p class="sub_text">
                                   
                                </p>
                            }
                            else
                            {

                                <p class="find_text">
                                    회원님은 <span class="register_text">@ViewData["Auth_User_ID"]</span> 아이디로 <br />
                                    가입되어 있습니다.
                                </p>
                                <p class="sub_text">
                                    위의 아이디로 로그인 해주시기 바랍니다. <br />
                                    비밀번호가 기억나지 않으시면 비밀번호 찾기를 클릭해 주세요.
                                </p>
                            }

                        </div>
                        <!-- //안내 텍스트 -->
                    </div>
                    <!-- //아이디/비밀번호 찾기 컨텐츠 -->
                    <!-- 아이디/비밀번호 찾기 하단 버튼 -->
                    <div class="btn_wrap bottom">
                        <a href="@ViewData["GSAuthUrl"]?returnUrl=https://gshop-login.addpulse.co.kr/sso/auth" class="btn type01 wp100">로그인하기</a>
                        <a href="@ViewData["GSAuthUrl"]?returnUrl=https://gshop-login.addpulse.co.kr/sso/auth" class="btn type01_1 wp100 mt20">비밀번호 찾기</a>
                    </div>
                    <!-- //아이디/비밀번호 찾기 하단 버튼 -->
                </div>
            </section>
            <!-- //register -->
        </div>
	</div>
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/member/login.js"></script>
	

</body>
</html>